<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmy.gamelesson">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".game.Chapter18.GL_Demo"></activity>
        <activity android:name=".game.Chapter17.MainActivity"></activity>
        <activity android:name=".game.Chapter16.BasketballActivity"></activity>
        <activity android:name=".ui.Chapter15EightActivity" />
        <activity android:name=".ui.Chapter15SenvenActivity" />
        <activity android:name=".ui.Chapter15SixActivity" />
        <activity android:name=".ui.Chapter15FiveActivity" />
        <activity android:name=".ui.Chapter15FourActivity" />
        <activity android:name=".ui.Chapter15ThreeActivity" />
        <activity android:name=".ui.Chapter15Activity" />
        <activity android:name=".ui.Chapter14Activity" />
        <activity android:name=".ui.Chapter13FiveActivity" />
        <activity android:name=".ui.Chapter13FourActivity" />
        <activity android:name=".ui.Chapter13ThreeActivity" />
        <activity android:name=".ui.Chapter13TwoActivity" />
        <activity android:name=".ui.Chapter13OneActivity" />
        <activity android:name=".ui.Chapter12Activity" />
        <activity android:name=".ui.Chapter11FourActivity" />
        <activity android:name=".ui.Chapter11ThreeActivity" />
        <activity android:name=".ui.Chapter11TwoActivity" />
        <activity android:name=".ui.Chapter11OneActivity" />
        <activity android:name=".ui.Blend3Activity" />
        <activity android:name=".ui.Blend2Activity" />
        <activity android:name=".ui.BlendActivity" />
        <activity android:name=".ui.WorldActivity" />
        <activity android:name=".ui.Cube2Activity" />
        <activity android:name=".ui.Spheroid3Activity" />
        <activity android:name=".ui.Spheroid2Activity" />
        <activity android:name=".ui.SpheroidActivity" />
        <activity android:name=".ui.DrawHelicoidSurface2Activity" />
        <activity android:name=".ui.DrawHelicoidSurfaceActivity" />
        <activity android:name=".surfaceview.DrawHyperboloid2Activity" />
        <activity android:name=".ui.DrawCircleActivity" />
        <activity android:name=".ui.DrawParaboloid2Activity" />
        <activity android:name=".ui.DrawCylinder3Activity" />
        <activity android:name=".ui.DrawCirque2Activity" />
        <activity android:name=".ui.DrawCirqueActivity" />
        <activity android:name=".ui.DrawTaper2Activity" />
        <activity android:name=".ui.DrawTaperActivity" />
        <activity android:name=".ui.DrawCylinder2Activity" />
        <activity android:name=".ui.DrawCylinderActivity" />
        <activity android:name=".ui.CubeColorRectActivity" />
        <activity android:name=".ui.TextureRectActivity" />
        <activity android:name=".ui.BallTexture2Activity" />
        <activity android:name=".ui.BallTextureActivity" />
        <activity android:name=".ui.TextureActivity" />
        <activity android:name=".ui.CubeIndex2SurfaceActivity" />
        <activity android:name=".ui.CubeVertexSurfaceActivity" />
        <activity android:name=".ui.Ball4SurfaceActivity" />
        <activity android:name=".ui.Ball3SurfaceActivity" />
        <activity android:name=".ui.Ball2SurfaceActivity" />
        <activity android:name=".ui.BallSurfaceActivity" />
        <activity android:name=".ui.HexagonActivity" />
        <activity android:name=".ui.TrianglePairSurfaceActivity" />
        <activity android:name=".ui.PointLinesSurfaceActivity" />
        <activity android:name=".ui.TriangleSurfaceViewActivity" />
        <activity android:name=".ui.SurfaceActivity" />
        <activity android:name=".ui.SharedPreferencesActivity" />
        <activity android:name=".ui.AssertsActivity" />
        <activity android:name=".ui.SDCardActivity" />
        <activity android:name=".ui.SQLiteActivity" />
        <activity android:name=".ui.Audio2Activity" />
        <activity android:name=".ui.AudioPlayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>