<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmy.gamelesson">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CubeIndex2SurfaceActivity"></activity>
        <activity android:name=".ui.CubeVertexSurfaceActivity" />
        <activity android:name=".ui.Ball4SurfaceActivity" />
        <activity android:name=".ui.Ball3SurfaceActivity" />
        <activity android:name=".ui.Ball2SurfaceActivity" />
        <activity android:name=".ui.BallSurfaceActivity" />
        <activity android:name=".ui.HexagonActivity" />
        <activity android:name=".ui.TrianglePairSurfaceActivity" />
        <activity android:name=".ui.PointLinesSurfaceActivity" />
        <activity android:name=".ui.TriangleSurfaceViewActivity" />
        <activity android:name=".ui.SurfaceActivity" />
        <activity android:name=".ui.SharedPreferencesActivity" />
        <activity android:name=".ui.AssertsActivity" />
        <activity android:name=".ui.SDCardActivity" />
        <activity android:name=".ui.SQLiteActivity" />
        <activity android:name=".ui.Audio2Activity" />
        <activity android:name=".ui.AudioPlayActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>